.App {
  text-align: center;
}

.entercode {
  color: white;

}

.whitebox {
  width: 380px;
  height: 510px;
  background-color: white;
  position: relative;
  margin: 10px;
}

.bingo-card {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.button-container {
  top: 10px; 
  left: 0; 
  right: 0; 
  display: flex;
  justify-content: center; 

}

.bingo-header {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px; /* Add margin between columns */
}

.number-container {
  font-size: 50px;
  border: 2px solid black;
  margin-bottom: 10px;
}

.number-container.clicked {
  /*background-color: rgb(2, 46, 111); /* Change the background color when clicked */
  background-color: red;
  color: white; /* Change the text color when clicked */
}